@charset "utf-8";
/* CSS Document */

body
{
	background-color: rgb(250, 250, 250);
}

b
{
	background-color: yellow;	
	font-style: italic;
}

b, a
{
	color: orangered;
}

p
{
	font-size: 22px;
}

p, h1#task
{
	text-align: center;
}

h1#task
{
	text-decoration: underline;
}

h1
{
	color: white;
}

div#heading
{
	background-color: #0067b8;
}

div#right
{
	text-align: right;
}

div#img
{
	position: fixed; 
	padding-top: 105px; 
	padding-left: 150px;
}